<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiwi.bubble.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".member.SignupActivity" />
        <activity android:name=".member.UserProfileActivity" />
        <activity android:name=".member.UserPhotoActivity" />
        <activity android:name=".list.BubbleListActivity" />
        <activity android:name=".list.BubbleDetailActivity" />
        <activity android:name=".list.TagSearchActivity" />
        <activity android:name=".BubbleCreateActivity" />
        <activity android:name=".TagSelectActivity" />
        <activity android:name=".ExploreActivity" />
    <uses-library android:name="com.google.android.maps" android:required="true"/>
        <activity android:name="BubbleMap"></activity>
    </application>
    
</manifest>